{{ define "main" }}

{{ partial "navigation.html" }}
<article>
<section>
{{ $lesreferences := dict "references" (getJSON .Params.bibfile) }}
{{- $bibliographie := partial "bibliography/bibliography-list.html" $lesreferences }}
{{ partial "content.html" $bibliographie }}
</section>
</article>
{{ end }}
