{{ define "main" }}

{{ partial "navigation.html" }}
<article class="regulier">
<section>
{{ .Content }}
</section>
{{ $chapitres := where .Site.Pages "Section" "p" }}
{{ range sort (sort $chapitres ".Params.section") ".Params.chapitre" }}
{{ $titre := .Title }}
{{ $chapitre := .Params.chapitre }}
{{ $section := .Params.section }}
{{ $noop := .WordCount }}
  {{ if .HasShortcode "definition" }}
    {{ range .Store.GetSortedMapValues "definition" }}
    {{ $content := .contenu | markdownify }}
<section>
  <h3 id="{{ .id }}">{{ .intitule | markdownify }}</h3> 
  <p><span class="renvoi"><span class="contexte">Chapitre/section</span> <span class="titre-section">{{ $chapitre }}.{{ $section }}. {{ $titre | markdownify }}</span><br><a href="/chapitre-0{{ $chapitre }}#{{ .id }}">Lien vers le contexte</a></span>{{ partial "content.html" $content }}</p>
</section>
    {{ end }}
  {{ end }}
{{ end }}
</article>
{{ end }}
