{{ define "main" }}
<header class="couverture">
  <h1>{{ .Site.Params.short_title_1 }}<br>{{ .Site.Params.short_title_2 }}<span class="sous-titre">{{ .Site.Params.sub_title }}</span></h1>
  <p class="nom"><em>{{ .Site.Author.name }}</em></p>
  <p>{{ .Site.Params.direction.direction }} {{ .Site.Params.direction.directeur.nom }} ({{ .Site.Params.direction.directeur.institution }}) et {{ .Site.Params.direction.codirection }} {{ .Site.Params.direction.codirecteur.nom }} ({{ .Site.Params.direction.codirecteur.institution }})</p>
  <p class="lire"><a href="/introduction">Lire la thèse</a></p>
  <p><a href="/documents/antoine-fauchie-these-v1-1.pdf">Télécharger la thèse au format PDF (~19,5Mo)</a></p>
</header>
<article class="regulier">
<section>
  <details>
    <summary>Résumé et mots-clés</summary>
    <p>{{ .Site.Params.resume | markdownify | plainify | htmlUnescape }}</p>
    <p>{{ .Site.Params.mots_cles }}</p>
  </details>
  <details>
    <summary>Abstract and keywords</summary>
    <p>{{ .Site.Params.abstract | markdownify | plainify | htmlUnescape }}</p>
    <p>{{ .Site.Params.keywords }}</p>
  </details>
<details>
  <summary>Table des matières</summary>
  {{ $chapitres := where .Site.Pages "Section" "p" }}
  <ul class="table-des">
  {{ $pagesavant := where site.Pages "Section" "pages" }}
  {{ range sort $pagesavant }}
  {{ if eq .Params.table_des_matieres "avant" }}
  {{ if eq .Params.visibilite "web" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
  {{ end }}
  {{ end }}

  {{ range sort $chapitres ".Params.chapitre" }}
    {{ range sort .Sections ".Params.chapitre" }}
      <li class="tdm-chapitre"><a href="/{{ .Params.type }}{{ if eq .Params.type "chapitre" }}-0{{ .Params.chapitre }}{{ end }}/">{{ if eq .Params.type "chapitre" }}<span class="tdm-numero">{{ .Params.chapitre }}.</span> {{ end }}{{ .CurrentSection.Title | markdownify }}</a>
        {{ $type := .Params.type }}
      <ul>
      {{ range sort .CurrentSection.RegularPages ".Params.section" }}
        <li class="tdm-section"><a href="/{{ $type }}{{ if eq $type "chapitre" }}-0{{ .Params.chapitre }}{{ end }}/#{{ .Params.chapitre }}{{ .Params.section }}-{{ .Title | anchorize }}"><span class="tdm-numero">{{ .Params.chapitre }}.{{ .Params.section }}.</span> {{ .Page.Title | markdownify }}</a></li>
      {{ end }} 
      </ul>
    </li>
    {{ end }}
  {{ end }}

  {{ $pagesapres := where site.Pages "Section" "pages" }}
  {{ range sort $pagesapres }}
  {{ if eq .Params.table_des_matieres "apres" }}
  {{ if eq .Params.visibilite "web" }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
  {{ end }}
  {{ end }}
  </ul>
  </details>
  <details>
    <summary>Jury de thèse</summary>
    <p>Cette thèse a été évaluée par un jury composé des personnes suivantes&nbsp;:</p>
    <ul>
      <li>{{ site.Params.jury.president.nom }}, {{ site.Params.jury.president.institution }} — {{ site.Params.jury.president.intitule }}</li>
      <li>{{ site.Params.jury.directeur.nom }}, {{ site.Params.jury.directeur.institution }} — {{ site.Params.jury.directeur.intitule }}</li>
      <li>{{ site.Params.jury.codirecteur.nom }}, {{ site.Params.jury.codirecteur.institution }} — {{ site.Params.jury.codirecteur.intitule }}</li>
      <li>{{ site.Params.jury.membre.nom }}, {{ site.Params.jury.membre.institution }} — {{ site.Params.jury.membre.intitule }}</li>
      <li>{{ site.Params.jury.examinateur.nom }}, {{ site.Params.jury.examinateur.institution }} — {{ site.Params.jury.examinateur.intitule }}</li>
    </ul>
  </details>
  <details>
    <summary>Formats et sources</summary>
    <ul class="formats">
      {{ partial "formats.html" }}
    </ul>
  </details>
  <details>
    <summary>Note de version</summary>
    <p><a href="{{ site.Params.sources }}/refs/{{ site.Params.git.version.number }}">{{ site.Params.git.version.number }}</a> — {{ site.Params.git.version.description }}</p>
  </details>
</section>
</article>
{{ end }}

