{{ define "main" }}
<nav class="chemin">
  <ul>
    <li><a href="/"><span class="accueil">Accueil</span><span class="titre">{{ .Site.Params.short_title }}</a></li>
    <li><a href="#table-des-matieres" class="tdm">Table des matières</a></li>
    <li><button class="mode">
    <svg class="switch" width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M22 41C32.4934 41 41 32.4934 41 22C41 11.5066 32.4934 3 22 3C11.5066 3 3 11.5066 3 22C3 32.4934 11.5066 41 22 41ZM7 22C7 13.7157 13.7157 7 22 7V37C13.7157 37 7 30.2843 7 22Z"></path>
    </svg>
    </button></li>
    {{- $pages := ($.Site.GetPage "section" .Section).Pages.ByParam "chapitre" }}
    {{- $.Scratch.Set "curPosition" 0 }}
    {{- $.Scratch.Set "index" 0 }}
    {{- range $pages }}
    {{- if eq $ . }}
    {{- $.Scratch.Set "curPosition" ($.Scratch.Get "index") }}
    {{- end }}
    {{- $.Scratch.Add "index" 1 }}
    {{- end }}
    {{- $next := (index $pages (add ($.Scratch.Get "curPosition") 1)) }}
    {{- $prev := (index $pages (sub ($.Scratch.Get "curPosition") 1)) }}
    {{- with $prev }}
    <li class="ps"><a href="{{ .Permalink }}">←</a></li>
    {{- end }}
    {{- with $next }}
    <li class="ps"><a href="{{ .Permalink }}">→</a></li>
    {{- end }}
    <li>{{ .Params.chapitre }}.</li>
  </ul>
</nav>
<header>
  <h1>{{ if eq .Params.type "chapitre" }}<span class="chapitre">Chapitre {{ .Params.chapitre }}</span>{{ end }}{{ .Title }}</h1>
  <h2 id="table-des-matieres">Table des matières</h2>
	{{- range .Paginator.Pages.ByParam "section" -}}
	{{ $titrechapitre := .Title }}
	{{ $numerochapitre := .Params.chapitre }}
	{{ $numerosection := .Params.section }}  
  <ul>
    <li><a href="#{{ $numerochapitre }}{{ $numerosection }}-{{ $titrechapitre | anchorize }}">{{ $numerochapitre }}.{{ $numerosection }}. {{ $titrechapitre | markdownify }}</a></li> 
    {{- range .Fragments.Headings -}}
    {{- range .Headings }}
    {{- if .Headings }}
    <ul>
      {{- range .Headings }}
      <li><a href="#{{ anchorize .ID }}">{{ .Title | markdownify }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end -}}
    {{ end -}}
  </ul>
	{{- end -}}
</header>
<article>
  <section>
  {{ partial "content.html" .Content }}
  </section>
  {{- range .Paginator.Pages.ByParam "section" }}
    <div class="cacher"></div>
    <span class="navigation">{{ .Params.section }}.</span>
  <section id="{{ .Params.chapitre }}-{{ .Params.section }}">
    <h2 id="{{ .Params.chapitre }}{{ .Params.section }}-{{ .Title | anchorize }}"><span class="section-type">{{ .Params.type }}</span><a href="#{{ .Params.chapitre }}{{ .Params.section }}-{{ .Title | anchorize }}" class="anchor">#</a>{{ .Params.chapitre }}.{{ .Params.section }}. {{ .Title | markdownify }}<details class="renvoi commit"><summary></></summary>Commit : <a href="{{ .Site.Params.sources }}/commit/{{ .GitInfo.AbbreviatedHash }}">{{ .GitInfo.AbbreviatedHash }}</a><br>Source : <a href="{{ .Site.Params.sources }}/tree/main/item/content/{{ .File.Path }}?view-source">{{ .Site.Params.sources }}/tree/main/item/content/{{ .File.Path }}</a></details></h2>
  {{ partial "content.html" .Content }}
  </section>
  {{- end -}}
  {{ if and (isset .Params "bibfile") (gt (len .Params.bibfile) 0) }}
  <section class="bibliographie">
    <div class="cacher"></div>
    <span class="navigation"></span>
    <h2>Références bibliographiques</h2>
    {{ $lesreferences := dict "references" (getJSON .Params.bibfile) }}
    {{- $bibliographie := partial "bibliography/bibliography-list.html" $lesreferences }}
    {{ partial "content.html" $bibliographie }}
  </section>
  {{ end }}
</article>
{{ end }}
