html {
  font-size: 18px;
}
body {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Fern", serif;
  background: var(--clair);
  margin: 1.25rem  1.25rem 2rem 4rem;
  padding: 1rem 1rem;
  color: var(--fonce);
  counter-reset: compter compter-figure compter-code;
}
body.dark-theme {
  --fonce: #F6F6F6;
  --clair: #161925;
}
@media (prefers-color-scheme: dark) {
  body {
    --fonce: #F6F6F6;
    --clair: #161925;
  }
  body.light-theme {
    --clair: #F6F6F6;
    --fonce: #161925;
  }
}
.mode {
  font-family: inherit;
  display: inline;
  color: var(--fonce);
  background-color: var(--clair);
  cursor: pointer;
  border: none;
  position: absolute;
  margin-top: 0.25rem;
}
.switch {
  fill: currentColor;
}
header ul, header li, nav ul, nav li, ul.table-des, .table-des li, ul.formats, .formats li {
  margin: 0 0 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
ul.formats-f, .formats-f li {
  margin: 0 0 0 0;
  padding: 0;
  list-style-type: none;
}
header ul ul, .table-des ul ul {
  margin-left: 1rem;
}
ul.formats {
  margin-left: 2.5rem;
}
ul.formats-f {
  margin-left: 1.125rem;
}
.table-des ul, .table-des li {
  font-size: 1.1rem;
}
ul.table-des li.tdm-chapitre {
  font-variant-caps: all-small-caps;
}
ul.table-des li.tdm-chapitre ul li.tdm-section {
  font-variant-caps: normal;
}
.tdm-numero {
  font-variant-caps: all-small-caps;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
pre, code {
  font: 14px/1.5em "IBM Plex", monospace;
  color: var(--clair);
  background: var(--fonce);
}
code {
  padding: 0.125em; border-radius: 3px;
}
pre {
  background: var(--fonce);
  padding: 1em;
  white-space: pre-wrap;
  word-break: keep-all;
  word-break: keep-all;
}
pre > code {
  color: var(--clair);
}
section {
  scroll-margin: 4rem;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
h1 {
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}
.chapitre {
  display: block;
  text-transform: none;
  font-size: 1.75rem;
  line-height: 1.75rem;
  opacity: 0.8;
}
h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 5rem auto 0 auto;
  scroll-margin: 4rem;
}
h2 .section-type {
  margin-bottom: 0.25rem;
  font-variant-caps: all-small-caps;
  display: block;
  font-size: 0.9rem;
  line-height: 1rem;
  opacity: 0.7;
}
h3 {
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 3rem auto 0 auto;
  scroll-margin: 3rem;

}
.note, .renvoi, .hugo-cite-intext .hugo-cite-citation {
  margin-top: 0.5rem;
  font-size: 0.825rem;
  line-height: 1rem;
  float: right;
  clear: right;
  position: relative;
  margin-right: -45%;
  width: 35%;
  margin-bottom: 0.5rem;
}
a.appel-target {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
figcaption .hugo-cite-intext
  .hugo-cite-citation {
    margin-right: -46%;
}
header, article {
  max-width: 42rem;
}
nav {
  max-width: 44rem;
}
header {
  margin-bottom: 3em;
}
.note-numero {
  counter-increment: compter;
}
.note-numero::after {
  font-size: 1.1rem;
  font-variant-position: super;
  content: counter(compter);
  text-decoration: none;
}
.note::before {
  font-variant-caps: all-small-caps;
  margin-right: 0.25rem;
  content: counter(compter) " ";
}
figure {
  margin: auto auto auto 0rem;
}
figcaption {
  margin: auto 2rem auto 2rem;
}
pre+figcaption, img+figcaption {
  margin: 0.5rem auto 2rem auto;
  font-size: 1rem;
  line-height: 1.5rem;
}
img {
  display: block;
  max-width: 100%;
}
figure > img, figure > pre {
  //margin-right: 2.5rem;
}
figure > blockquote {
  margin-left: 3rem;
}
blockquote + figcaption {
  margin: -2rem 0 0 3rem ;
}
article {
  position: relative;
  hyphens: auto;
  counter-reset: paragraph;
}
article p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
article p::before {
  font-family: "IBM Plex", monospace;
  margin: auto;
  opacity: 0.5;
  content: counter(paragraph);
  counter-increment: paragraph;
  position: absolute;
  text-align: right;
  margin-left: -2.5rem;
  font-size: 0.75rem;
}
blockquote > p::before, .regulier p::before, p.definition::before {
  content: none;
}
sup {
  line-height: 1rem;
}
footer {
  max-width: 25rem;
  margin-top: 6em;
}
footer {
  line-height: 1.5rem;

  nav {
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.1rem;
  }
  h2 {
    font-weight: normal;
    margin-left: 0;
    font-variant-caps: all-small-caps;
    line-height: 1.4rem;
    font-size: 1.4rem;
    a, a:hover, a:visited {
      text-decoration: none;
    }
  }
  details > summary, details > p, details > li {
    font-size: 1rem;
  }
  summary {
    cursor: pointer;
    list-style-type: "◊ ";
    font-weight: normal;
  }
  details > p {
    margin-top: 0;
  }
  .sous-titre {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  ul li {
    font-size: 1rem;
  }
}
.sous-titre {
  display: block;
  font-variant: normal;
}
h1 .sous-titre {
  font-size: 1.75rem;
  text-transform: none;
}
h2.sous-titre {
  font-size: 1.25rem;
}
.definition-bloc {
  scroll-margin: 3rem;
}
.definition {
  line-height: 2rem;
  margin: 2rem 0 -2rem 0;
  font-variant-caps: all-small-caps;
  font-size: 0.9rem;
  opacity: 0.7;
}
.libelle {
  opacity: 0.7;
}
.intitule {
  font-variant-caps: normal;
  font-size: 1rem;
}
.anchor {
  font-size: 1.2rem;
  font-family: "IBM Plex", monospace;
  font-weight: normal;
  display: inline-block;
  margin-left: -2.5rem;
  padding-right: 2rem;
  padding-bottom: 3px;
  opacity: 0.5;
  text-decoration: none;
}
.chemin, .navigation {
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
  background: var(--clair);
  font-variant-caps: all-small-caps;
  border-bottom: 1px solid var(--fonce);
  //box-shadow: 0px 4px 5px -6px var(--fonce);
}
.accueil {
  display: none;
}
.chemin:hover, .navigation:hover {
}
.chemin ul, .chemin li {
  display: inline;
}
.chemin li:after {
  content: " |";
}
li.regulier:after {
  content: none;
}
.chemin li:last-child:after {
  content: none;
}
.chemin li:nth-child(3):after, .chemin li:nth-child(4):after, .chemin li:nth-child(5):after {
  content: none;
}
.chemin li:nth-child(4) {
  margin-left: 3rem;
}
.chemin li:nth-child(5) {
  margin-left: 0.5rem;
}
.chemin li:last-child {
  line-height: 2rem;
  float: right;
  margin-right: 2.3rem;
  font-size: 1rem;
}
.navigation {
  display: block;
}
.navigation {
  float: right;
  line-height: 2rem;
  margin-right: -0.5rem;
  border-bottom: none;
  margin-top: -1rem;
}
.ps {
  font-size: 0.8rem;
  font-variant-caps: small-caps;
}
.cacher {
  background: var(--clair);
  height: 2rem;
  position: absolute;
  z-index: 100;
  width: 3ch;
  right: -0.75ch;
  margin-top: -1rem;
}
.tdm {
  font-variant: normal;
}
.def-titre {
  font-variant-caps: small-caps;
  font-weight: 700;
}
.numero-figure {
  counter-increment: compter-figure;
}
.numero-figure::after {
  content: counter(compter-figure);
}
.numero-code {
  counter-increment: compter-code;
}
.numero-code::after {
  content: counter(compter-code);
}
.liste-def {
  font-variant-caps: small-caps;
}
.contexte {
  font-variant-caps: all-small-caps;
}
.titre-section {
}
dd {
  font-size: 1.1rem;
  margin-left: 0;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.disparition {
  display: none;
}

.commit {
  font-weight: normal;
  summary {
    list-style: none;
    cursor: pointer;
  }
}

.nom {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.regulier summary {
  cursor: pointer;
  list-style-type: "◊ ";
  font-weight: normal;
  font-size: 1.25rem;
}
.avant-apres {
  font-variant-caps: all-small-caps;
  margin-right: 0.5rem;
}
.lire {
  text-transform: uppercase;
}
small {
  font-size: 0.9rem;
}
.poche {
  visibility: hidden;
}

/* gestion petits écrans */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .accueil {
    display: inline;
  }
  .titre {
    display: none;
  }
  header, article {
    max-width: 30rem;
  }
  nav {
    max-width: 31rem;
  }
}
@media screen and (max-width: 900px) {
body {
  margin: 1.25rem 0.5rem 2rem 1rem;
}
nav {
  max-width: 100%;
}
.accueil {
  display: inline;
}
.titre {
  display: none;
}
article p:before, .anchor {
  margin-left: -1.25rem;
  padding-right: 0.5rem;
}
.note, .renvoi {
  display: none;
}
.note:target::before {
  font-variant-caps: all-small-caps;
  margin-right: 0.25rem;
  content: counter(compter) " ";
}
.note:target, .renvoi:target {
  scroll-margin: 5rem;
  margin-left: 2rem;
  display: block;
  width: 80%;
  position: relative;
  font-size: 0.825rem;
  line-height: 1rem;
  float: left;
  clear: both;
  margin-right: 10rem;
}
.hugo-cite-intext .hugo-cite-citation {
  display: none;
}
a.appel-target {
  text-decoration: none;
  pointer-events: auto;
  cursor: pointer;
}
figcaption .hugo-cite-intext
  .hugo-cite-citation {
}
header, article {
  max-width: 42rem;
}
.commit {
  display: none;
}
.note-numero::after {
  cursor: pointer;
}
}
