@font-face {
  font-family: 'Fern';
  src:
    url('/fonts/ferntext-regular.woff2') format('woff2'),
    url('/fonts/ferntext-regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Fern';
  src:
    url('/fonts/ferntext-italic.woff2') format('woff2'),
    url('/fonts/ferntext-italic.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Fern';
  src:
    url('/fonts/ferntext-bold.woff2') format('woff2'),
    url('/fonts/ferntext-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Fern';
  src:
    url('/fonts/ferntext-bold-italic.woff2') format('woff2'),
    url('/fonts/ferntext-bold-italic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex';
  src:
    url('/fonts/ibmplexmono-text.woff2') format('woff2'),
    url('/fonts/ibmplexmono-text.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

