  {{/* 01 page de titre */}}
  <section class="page-de-titre sans">
    <header>
      <p>{{ site.Params.institution }}</p>
    </header>
    <main>
      {{ with site.Params.git.version }}
        <small class="version">v{{ .number }}</small>
      {{ end }}
      <h1>{{ site.Params.short_title_1 }}<br>
        <span class="st2">{{ site.Params.short_title_2 }}</span></h1>
      <h2>{{ site.Params.sub_title }}</h2>
      <p>par</p>
      <h3>{{ site.Author.name }}</h3>
      <p>{{ site.Params.departement }}</p>
      <p>{{ site.Params.faculte }}</p>
      <p class="presentation">Thèse présentée en vue de l'obtention du grade de {{ site.Params.grade }}<br>en {{ site.Params.programme }}, option {{ site.Params.option }}</p>
      <p>Sous la direction de {{ site.Params.direction.directeur.nom }} ({{ site.Params.direction.directeur.institution }})<br>et sous la codirection {{ site.Params.direction.codirecteur.nom }} ({{ site.Params.direction.directeur.institution }})</p>
    </main>
    <footer>
      <p>v{{ site.Params.git.version.number }} — {{ site.Params.depot.type }} — {{ site.Params.depot.date }}</p>
      <p>Thèse en ligne : <a href="{{ site.Params.site }}">{{ site.Params.site }}</a></p>
      <p>Sources : <a href="{{ site.Params.sources }}">{{ site.Params.sources }}</a></p>
      <p>{{ site.Params.licence }} {{ site.Author.name }}, {{ site.Params.depot.annee }}</p>
    </footer>
  </section>
  {{/* 02 membres du jury */}}
  <section class="page-de-titre sans">
    <header>
      <p>{{ site.Params.institution }}</p>
      <p>{{ site.Params.departement }},<br>{{ site.Params.faculte }}</p>
    </header>
    <main>
      <p class="jury">Cette thèse intitulée</p>
      <h1 class="jury">{{ site.Params.short_title_1 }}<br>
        <span class="st2">{{ site.Params.short_title_2 }}</span></h1>
      <h2>{{ site.Params.sub_title }}</h2>
      <p>présentée par</p>
      <h3 class="jury-presentation">{{ site.Author.name }}</h3>
      <section>
        <p>a été évaluée par un jury composé des personnes suivantes</p>
        <p class="nom">{{ site.Params.jury.president.nom }}, {{ site.Params.jury.president.institution }}</p>
        <p>{{ site.Params.jury.president.intitule }}</p>
        <p class="nom">{{ site.Params.jury.directeur.nom }}, {{ site.Params.jury.directeur.institution }}</p>
        <p>{{ site.Params.jury.directeur.intitule }}</p>
        <p class="nom">{{ site.Params.jury.codirecteur.nom }}, {{ site.Params.jury.codirecteur.institution }}</p>
        <p>{{ site.Params.jury.codirecteur.intitule }}</p>
        <p class="nom">{{ site.Params.jury.membre.nom }}, {{ site.Params.jury.membre.institution }}</p>
        <p>{{ site.Params.jury.membre.intitule }}</p>
        <p class="nom">{{ site.Params.jury.examinateur.nom }}, {{ site.Params.jury.examinateur.institution }}</p>
        <p>{{ site.Params.jury.examinateur.intitule }}</p>
      </section>
    </main>
  </section>
  {{/* 03 résumé fr */}}
  <section class="regulier sans large">
    <h2 class="resume">{{ site.Params.short_title }} : {{ site.Params.sub_title }}</h2>
    <h3><span id="pagination-10">Résumé</span></h3>
    <p>{{ site.Params.resume | markdownify }}</p>
    <h3>Mots-clés</h3>
    <p>{{ site.Params.mots_cles }}</p>
  </section>
  {{/* 04 résumé en */}}
  <section class="regulier sans large">
    <h2 class="resume">{{ site.Params.titre_en }}</h2>
    <h3><span id="pagination-20">Abstract</span></h3>
    <p>{{ site.Params.abstract | markdownify }}</p>
    <h3>Keywords</h3>
    <p>{{ site.Params.keywords }}</p>
  </section>

