  {{/* 05 table des matières / ou sommaire avec résumés des chapitres */}}
  <section class="regulier large sans">
    <h2><span class="intitule-chapitre">Table des matières</span><span id="pagination-30">Table des matières</span></h2>
    {{/* 14 table des matières (si sommaire au début) */}}
  <ul class="sommaire">
{{ $pagesavant := where site.Pages "Section" "pages" }}
{{ range sort $pagesavant }}
{{ if eq .Params.table_des_matieres "avant" }}
  <li><a href="#pagination-{{ .Params.weight }}">{{ .Title }}</a></li>
{{ end }}
{{ end }}

{{ $chapitres := where site.Pages "Section" "p" }}
{{ range sort $chapitres ".Params.chapitre" }}
    {{ range sort .Sections ".Params.chapitre" }}
      <li class="sommaire-chapitres"><a href="#{{ .Params.type }}-0{{ .Params.chapitre }}">{{ if eq .Params.type "chapitre" }}{{ .Params.chapitre }}. {{ end }}<span class="sommaire-titre-chapitre">{{ .CurrentSection.Title | markdownify }}</span></a>
        {{ $type := .Params.type }}
      <ul>
      {{ range sort .CurrentSection.RegularPages ".Params.section" }}
        <li class="toc-niveau-2"><a href="#renvoi-{{ .Params.chapitre }}-{{ .Params.section }}"><span class="petits-chiffres">{{ .Params.chapitre }}.{{ .Params.section }}.</span> {{ .Page.Title | markdownify }}</a></li>
      {{ end }}
      </ul>
    </li>
    {{ end }}
{{ end }}

{{ $pagesapres := where site.Pages "Section" "pages" }}
{{ range sort $pagesapres }}
{{ if eq .Params.table_des_matieres "apres" }}
  <li><a href="#pagination-{{ .Params.weight }}">{{ .Title }}</a></li>
{{ end }}
{{ end }}
</section>

  {{/* 06 liste des figures */}}
  <section class="regulier large">
    <h2><span class="intitule-chapitre">Liste des figures</span><span id="pagination-40">Liste des figures</span></h2>
  {{ $chapitres := where site.Pages "Section" "p" }}
  {{ range sort $chapitres ".Params.chapitre" }}
  {{ range sort .Sections ".Params.chapitre" }}
    <ul class="sommaire figure-chapitre">
  {{ range sort .CurrentSection.RegularPages ".Params.section" }}
  {{ $titre := .Title }}
  {{ $chapitre := .Params.chapitre }}
  {{ $section := .Params.section }}
  {{ $noop := .WordCount }}
    {{ if .HasShortcode "figure" }}
      {{ range .Store.GetSortedMapValues "figure" }}
        <li id="figure-{{ .id }}"><a href="#figure-{{ .lasource }}"><span class="figure-numerotation">Figure {{ .premier_numero }}.<span class="numero-figure-liste"></span>.</span><span class="figure-legende">{{ .legende | markdownify }}</span></a></li> 
      {{ end }}
    {{ end }}
  {{ end }}
    </ul>
  {{ end }}
  {{ end }}
  </section>
  {{/* 07 liste des extraits de code */}}
  <section class="regulier large">
    <h2><span class="intitule-chapitre">Liste des extraits de code</span><span id="pagination-50">Liste des extraits de code</span></h2>
  {{ $chapitres := where site.Pages "Section" "p" }}
  {{ range sort $chapitres ".Params.chapitre" }}
  {{ range sort .Sections ".Params.chapitre" }}
    <ul class="sommaire figure-chapitre">
  {{ range sort .CurrentSection.RegularPages ".Params.section" }}
  {{ $titre := .Title }}
  {{ $chapitre := .Params.chapitre }}
  {{ $section := .Params.section }}
  {{ $noop := .WordCount }}
    {{ if .HasShortcode "code" }}
      {{ range .Store.GetSortedMapValues "code" }}
        <li id="figure-{{ .id }}"><a href="#code-{{ .legende | sha256 }}"><span class="figure-numerotation">Code {{ .premier_numero }}.<span class="numero-figure-liste"></span>.</span><span class="figure-legende">{{ .legende | markdownify }}</span></a></li> 
      {{ end }}
    {{ end }}
  {{ end }}
    </ul>
  {{ end }}
  {{ end }}
  </section>
