{{- $content := . -}}
    <!-- dealing with empty paragraphs -->
    {{- $content = $content | replaceRE `<p><p>` "<p>" | safeHTML -}}
    {{- $content = $content | replaceRE `</p>\n</p>` "</p>" | safeHTML -}}
    <!-- # Ordinals -->
    {{- $content = $content | replaceRE "(\\s)(\\d+)(e|è)(r|me)?([\\s.,])" "$1$2<sup>$3$4</sup>$5" -}}
    <!-- # Num -->
    <!-- input.gsub!(%r!n°\s*(\d)!, 'n<sup>o</sup>&#8239;\1') -->
    {{- $content = $content | replaceRE "n°\\s*(\\d)" "n<sup>o</sup>&#8239;$1" -}}
    <!-- # French Guillemets -->        <!-- input.gsub!(%r!(&rdquo;|”|»)<a !, "«&#8239;<a ") -->
    <!-- input.gsub!(%r/(&ldquo;|“|«)(?!&#8239;)(\s|&nbsp;| )*/, "«&#8239;") -->
    <!-- input.gsub!(%r/(\s|&nbsp;| )*(?!&#8239;)(&rdquo;|”|»)/, "&#8239;»") -->
    {{- $content = $content | replaceRE "(&ldquo;|«)(\\s|&nbsp;| |)" "«&#8239;" -}}
    {{- $content = $content | replaceRE "(\\s|&nbsp;| |)(&rdquo;|»)" "&#8239;»" -}}
    <!-- # Point median -->
    <!-- if settings["median" -->
    {{- site.Params.pointMedian -}}
    {{- if eq site.Params.pointMedian true -}}
    <!-- input.gsub!(%r!(\p{L}+)(·\p{L}+)((·)(\p{L}+))?!, '\1<span aria-hidden="true">\2\4</span>\5') -->
    {{- $content = $content | replaceRE "(\\p{L}+)(·\\p{L}+)((·)(\\p{L}+))?" "$1<span aria-hidden=\"true\">$2$4</span>$5" -}}
    <!-- end -->
    {{- end -}}
    <!-- # Special punctuation -->
    <!-- input.gsub!(%r!(\s)+\?\!([^\w]|$)!, '&#8239;&#8264;\2') -->
    <!-- input.gsub!(%r!(\s)+\!\?([^\w]|$)!, '&#8239;&#8265;\2') -->
    <!-- input.gsub!(%r!(\s)+\!\!\!([^\w]|$)!, '&#8239;&#8252;\2') -->
    <!-- input.gsub!(%r!(\s)+\!\!([^\w]|$)!, '&#8239;&#8252;\2') -->
    <!-- # Times -->
    <!-- input.gsub!(%r!(\s)+(\d+)(\s)*x(\s)*(?=\d)!, '\1\2&nbsp;&times;&nbsp;\5') -->
    {{- $content = $content | replaceRE "(\\d+)(\\s)*x(\\s)*(\\d)" "$1&nbsp;&times;&nbsp;$4" -}}
    <!-- # Non-breaking space before '%' and units (< 4 letters) -->
    {{- $content = $content | replaceRE "(\\s)+(\\d+)(\\s)+([a-zA-Z]|%)" "$1$2&nbsp;$4$5" -}}
    <!-- # Thin non-breaking space before ;', '!', '?' -->
    {{- $content = $content | replaceRE "( )([;?!])" "&#8239;$2" -}}
    <!-- # non-breaking space -->
    {{- $content = $content | replaceRE "( )([:])" "&nbsp;$2" -}}
    <!-- # Currencies -->
    {{- $content = $content | replaceRE "(\\d+)\\s*(\\$|€)" "$1&nbsp;$2" -}}
    <!-- # nbsp after middle dash (dialogs) -->
    <!-- input.gsub!(%r!(—|&mdash;)(\s)!, '\1&nbsp;') -->
    {{- $content = $content | replaceRE "(—|&mdash;)(\\s?)" "$1&nbsp;" -}}
    {{- $content = $content | replaceRE "( )(—&nbsp;)([,])" "&nbsp;—," -}}
    {{- $content = $content | replaceRE `\?</i></span>\.` "?</i>" | safeHTML -}}
    {{- $content = $content | replaceRE `\?</span>\.<i>` "?</span><i>" | safeHTML -}}
    {{- $content = $content | replaceRE `\?</span>\.` "?</span>" | safeHTML -}}
    {{- $content = $content | replaceRE `</em> <span class` "</em><span class" | safeHTML -}}
    {{- $content = $content | replaceRE `Dans<span` "Dans <span" | safeHTML -}}
    {{- $content = $content | replaceRE `</span>.<i>` "</span>. <i>" | safeHTML -}}

{{- $content | safeHTML -}}
