@font-face {
  font-family: 'Fern Text';
  src:
    url('/fonts/ferntext-regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Fern Text';
  src:
    url('/fonts/ferntext-italic.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Fern Text';
  src:
    url('/fonts/ferntext-bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Fern Text';
  src:
    url('/fonts/ferntext-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex';
  src:
    url('/fonts/ibmplexmono-text.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@page {
  size: letter;
  margin-left: 93px; /* 25mm */
  margin-right: 70px; /* 21mm */
  margin-top: 93px; /* 25mm */
  margin-bottom: 78px; /* 21mm */

  /* pied de page */
  @top-left {
    content: string(titre-chapitre);
    width: 100%;
    font-variant-caps: all-small-caps;
  }

  @top-right {
    content: counter(page);
  }
  @bottom-center {
    margin: 0mm;
  }
}

@page:blank {
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }

}

@media print {
  html {
    font-size: 16px;
  }
	body {
    font-family: "Fern Text", serif;
		font-size: 15px;
    line-height: 1.75rem;
	}
  a, a:hover, a:visited {
    text-decoration: none;
    color: black;
  }
  sup {
    line-height: 1rem;
  }
  .intitule-chapitre {
    string-set: titre-chapitre content(text);
    display: none;
  }
  .corps, .regulier {
    margin-right: 40mm;
  }
  .large {
    margin-right: 15mm;
  }
  .large2 {
    margin-right: 5mm;
  }
  .chapitre {
    counter-reset: compter compter-figure compter-code;
  }
  .page-de-titre, .regulier, .corps, .chapitre, .break {
    break-after: always;
  }
  .classique {
  }
  pre, code {
    font-family: "IBM Plex", monospace;
  }
  code {
    font-size: 0.625rem;
  }
  pre {
    white-space: pre-wrap;
    word-break: keep-all;
    word-break: keep-all;
    line-height: 0.875rem;

  }
  pre, pre code {
    font-size: 9px;
  }
  img {
    margin-left: auto;
    display: block;
    width: auto;
    max-height: 14rem;
  }
  p {
    word-spacing: -0.05ch;
    text-indent: 2rem;
    margin: 0;
    text-align: left;
    hyphens: auto;
    -moz-hyphens: auto;
    orphans: 2;
    -webkit-hyphenate-limit-chars: 5 3 2;
    hyphenate-limit-chars: 5 3 2;
  }
  .acro p, .avant-propos p {
    break-inside: avoid;
  }

/* espacement des blocs */
  h1 {
    font-weight: normal;
    font-size: 2rem;
    margin: 0 auto 3.5rem auto;
  }

  h2 {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 3.5rem auto 3.5rem auto;
    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 1.1rem;
    font-style: italic;
    margin: 1.75rem auto 0rem 2rem;
    break-after: avoid;
    &:first-child {
      margin-top: 0;
    }
  }

  figure {
    margin: 1.75rem auto 1.75rem auto;
    &:first-child {
      margin-top: 0;
    }
  }

  blockquote {
    margin: 0 auto 0 4rem;
  }

  blockquote p, blockquote li {
    text-indent: 0;
    line-height: 1.75rem;
    font-size: 1rem;
    font-style: italic;
    em {
      font-style: normal;
    }
  }
  blockquote ol, blockquote ul {
    margin: 0;
    padding: 0;
  }

  figcaption {
    margin-left: 4rem;
  }

  blockquote + figcaption {
    font-size: 1rem;
    line-height: 1.75rem;
    font-style: italic;
    break-before: avoid;
  }

/* gestion des citations */
  .hugo-cite-intext {
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .hugo-cite-intext
  sup {
    line-height: 0.5rem;
  }
    .hugo-cite-citation {
      sup {
    line-height: 0.5rem;
  }
  }
  .visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  .cache, .hash {
    display: none;
  }

.renvoi a,
.note a,
.citation a {
  text-decoration: none;
}

.chaussette {
  position: absolute;
  width: 100%;
  line-height: 0.875rem;
  word-spacing: -0.05ch;
  hyphens: auto;
  -moz-hyphens: auto;
  orphans: 2;
  -webkit-hyphenate-limit-chars: 5 3 2;
  hyphenate-limit-chars: 5 3 2;
}

.renvoiBlock {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 36mm;
  /*display:grid;
  align-items: end;
  grid-template-columns: 100%;*/
}

.renvoiBlock .chaussette {
  display: block;
  font-size: 10px;
  max-width: 100%;
}

.renvoiBlock .note {
}
.renvoiBlock .hugo-cite-citation {
}
.hugo-cite-citation {
  text-decoration: none;
}
.legende {
  /*margin-top: -2rem;*/
}

/* gestion des numérotations */
.note-numero {
  counter-increment: compter;
}
.note-numero::after {
  font-size: 1rem;
  font-variant-position: super;
  content: counter(compter);
}
.note::before {
  font-variant-caps: all-small-caps;
  margin-right: 0.25rem;
  content: attr(data-note-counter) " ";
}
.numero-figure {
  counter-increment: compter-figure;
}
.numero-figure::after {
  content: counter(compter-figure);
}
.numero-code {
  counter-increment: compter-code;
}
.numero-code::after {
  content: counter(compter-code);
}

/* page de titre */

.version {
  position: absolute;
  top: 100mm;
  left: 5mm;
  transform: rotate(-35deg);
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.sans {
  page: frontmatter;
}

.page-de-titre {
  margin: auto;
  width: 150mm;
  *, p {
    text-indent: 0;
    text-align: center;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  h1 {
    font-family: "Fern Text", serif;
    font-weight: normal;
    font-size: 3.1rem;
    text-align: justify;
    text-align-last: justify;
    margin: 5rem auto 1rem auto;
    font-variant-caps: all-small-caps;
    text-wrap: balance;
    line-height: 3rem;
  }
  .st2 {
    letter-spacing: 2.5px;
  }
  h2 {
    margin: 1rem auto 3rem auto;
    font-size: 1.75rem;
    font-weight: normal;
    font-style: italic;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 auto 7rem auto;
  }
  .presentation {
    margin-top: 4rem;
  }
  footer {
    margin-top: 4rem;
  }
  h1.jury {
    margin-top: 2rem;
  }
  p.jury {
    margin-top: 2rem;
  }
  h3.jury-presentation {
    margin-bottom: 3.5rem;
  }
  .nom {
    font-size: 0.95rem;
    margin-top: 1.25rem;
    font-variant-caps: small-caps;
  }
}

/* numérotation des figures et des codes */
.figure-chapitre {
  font-size: 15px;
  counter-reset: compter-figure;
}
.numero-figure-liste {
  counter-increment: compter-figure;
}
.numero-figure-liste::after {
  content: counter(compter-figure);
}
.figure-chapitre p {
  text-indent: 0;
}

/* labeur des chapitres */
.chapitre {
  //break-before: left;
}
.chapitre-entete, .classique-entete {
  break-before: always;
  h1 {
    font-size: 1.6rem;
    margin: 0 auto 3.5rem 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.75rem;
  }
}
.numero-chapitre {
  font-weight: normal;
  display: block;
  margin-bottom: 0;
  text-transform: none;
}
.commit {
  text-align: right;
  font-variant-numeric: lining-nums;
}
.section {
  margin-top: 3.5rem;
  &:first-child {
      margin-top: 0;
    }
}
.section h2, .section-classique h2 {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 3.5rem auto 1.75rem auto;
  break-after: avoid;
  &:first-child {
      margin-top: 0;
    }
}
.section h3, .section-classique h3, h2.titres-regulier {
  font-weight: normal;
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.75rem;
  margin: 3.5rem auto 0rem 2rem;
  break-after: avoid;
  &:first-child {
      margin-top: 0;
    }
}

/* blocs spécifiques */

.definition-bloc {
  margin-bottom: 1.75rem;
  .definition {
    break-after: avoid;
  }
  p {
    font-style: italic;
  }
  .libelle {
    font-size: 0.8rem;
    font-style: normal;
    font-variant-caps: all-small-caps;
  }
  .intitule {
    font-style: normal;
    font-size: 1rem;
  }
}

/* sommaire */
.sommaire {
  font-size: 15px;
}
ul.sommaire {
  padding: 0;
  line-height: 1.75rem;
  text-indent: 0;
  li {
    list-style: none;
    font-size: 1.1rem;
  }
  li.sommaire-chapitres {
    font-variant-caps: all-small-caps;
  }
  li a::after {
    font-variant-caps: all-small-caps;
    content: target-counter(attr(href), page);
    float: right;
  }
  .petits-chiffres {
    font-variant-caps: all-small-caps;
  }
}
.sommaire a, .sommaire a:hover, .sommaire:visited {
  text-decoration: none;
}

ul ul {
  padding-left: 1rem;
  text-indent: 0;
}
li.toc-niveau-2 {
  font-variant-numeric: tabular-nums;
  font-variant-caps: normal;
}

ul.figure-chapitre {
  li a::after {
    margin-top: -1.75rem;
    content: target-counter(attr(href), page);
    float: right;
  }

}

.figure-numerotation {
  margin-right: 3rem;
}
.figure-legende {
  display: inline-block;
  margin-left: 7rem;
  margin-top: -1.75rem;
  padding-right: 2rem;
}
/* affichage des pages des appels de définition */
a.appel-concept::after {
  content: " (p.\00a0\00a0" target-counter(attr(href), page) ")";
}
a.concept::after {
  content: " (p.\00a0\00a0" target-counter(attr(href), page) ")";
}
.def-titre {
  font-variant-caps: small-caps;
}

/* affichage des pages des renvois */
a.renvoi-interne::after {
  content: " (p.\00a0\00a0" target-counter(attr(href), page) ")";
}

/* styles des pages régulières */

.regulier {
  page: regulier;
  h2 {
    text-transform: uppercase;
  }
}
.regulier .avant-propos {
  page: avant_propos;
}

.chapitre {
  page: chapitre;
}
@page chapitre:first {
  @top-left {
    content: none;
  }
  @top-right {
    content:none;
  }
}
.entetevide {
  page: entetevide;
}
@page entetevide:first {
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}
@page chapitre:nth(2) {
  @top-left {
    content: none;
  }
  @top-right {
    content:none;
  }
}
@page regulier:first {
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}
@page avant_propos:first {
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}
@page avant_propos:last {
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}
@page avant_propos:blank {
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

@page frontmatter {
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  @bottom-left {
    content: none;
  }
}

dd {
  font-size: 15px;
  margin-left: 0;
  break-inside: avoid;
}

}

figure {
  // maybe make it with css, and put all figures on top of the page would be less risky?
  break-inside: avoid;
}

.legende {
  position: absolute;
  padding-top: 2rem;
}

.chaussette {
  width: max-content;
  position: absolute;
  padding-top: 8px;
}

.disparition {
  display: none;
}
h2.resume {
  font-size: 1.25rem !important;
  text-transform: none !important;
}

.bibliographie dd {
  margin-left: 2rem;
  text-indent: -2rem;
}

hr {
  margin-top: 14rem;
  margin-bottom: 1.75rem;
  border: none;
  border-top: 1px solid black;
}

.vide {
  display: none;
}

.resume {
  margin-right: 25mm;
}
