<footer>
  {{ if .IsHome }}
  {{ else }}
  {{ if or (.Params.chapitre) (eq .Params.chapitre 0) }}
  <nav>
    <ul>
    {{- $pages := ($.Site.GetPage "section" .Section).Pages.ByParam "chapitre" }}
    {{- $.Scratch.Set "curPosition" 0 }}
    {{- $.Scratch.Set "index" 0 }}
    {{- range $pages }}
    {{- if eq $ . }}
    {{- $.Scratch.Set "curPosition" ($.Scratch.Get "index") }}
    {{- end }}
    {{- $.Scratch.Add "index" 1 }}
    {{- end }}
    {{- $next := (index $pages (add ($.Scratch.Get "curPosition") 1)) }}
    {{- $prev := (index $pages (sub ($.Scratch.Get "curPosition") 1)) }}
    {{- with $prev }}
      <li><span class="avant-apres">Précédent</span> <a href="{{ .Permalink }}">{{ if eq .Params.type "chapitre" }}Chapitre {{ .Params.chapitre }}. {{ end }}{{ .Title | markdownify }}</a></li>
    {{- end }}
    {{- with $next }}
      <li><span class="avant-apres">Suivant</span> <a href="{{ .Permalink }}">{{ if eq .Params.type "chapitre" }}Chapitre {{ .Params.chapitre }}. {{ end }}{{ .Title | markdownify }}</a></li>
    {{- end }}
    </ul>
  </nav>
  {{ end }}
	<section>
    <h2><a href="/">{{ .Site.Params.short_title_1 }}<br>{{ .Site.Params.short_title_2 }}<span class="sous-titre">{{ .Site.Params.sub_title }}</span></a></h2>
		<p>{{ .Site.Author.name }}</p>
	</section>
  <nav>
{{ $chapitres := where .Site.Pages "Section" "p" }}
  <ul>
{{- range sort $chapitres ".Params.chapitre" }}
    {{- range sort .Sections ".Params.chapitre" }}
      <li><a href="/{{ .Params.type }}{{ if eq .Params.type "chapitre" }}-0{{ .Params.chapitre }}{{ end }}/">{{ if eq .Params.type "chapitre" }}{{ .Params.chapitre }}. {{ end }}{{ .CurrentSection.Title | markdownify }}</a></li>
    {{ end -}}
{{ end -}}
    <li><a href="/references-bibliographiques">Références bibliographiques</a></li>
    <li><a href="/concepts">Concepts</a></li>
  </ul>
  </nav>
  <details>
    <summary>Note de version</summary>
    <p><a href="{{ site.Params.sources }}/refs/{{ site.Params.git.version.number }}">{{ site.Params.git.version.number }}</a> — {{ site.Params.git.version.description }}</p>
  </details>
  <details>
    <summary>Formats et sources</summary>
    <ul class="formats-f">
      {{ partial "formats.html" }}
    </ul>
  </details>
  {{ end }} 
  <p><small>{{ .Site.Params.licence }} <a href="mailto:{{ .Site.Author.email }}">{{ .Site.Author.name }}</a></small></p>
</footer>
