<li>Format web&nbsp;: <a href="{{ site.Params.site }}">{{ site.Params.site }}</a></li>
<li>Format paginé PDF&nbsp;:<br><a href="/documents/antoine-fauchie-these-v1-1.pdf">https://these.quaternum.net/documents/antoine-fauchie-these-v1-1.pdf</a></li>
<li>Format texte (version dégradée)&nbsp;: <a href="/index.txt">/index.txt</a></li>
<li>Sources&nbsp;: <a href="{{ site.Params.sources }}">{{ site.Params.sources }}</a></li>
