<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Params.Author }}">
  <title>{{ if eq .Section "accueil" }}{{ .Site.Params.short_title }}{{ else }}{{ if eq .Params.type "chapitre" }}Chapitre {{ .Params.chapitre }}. {{ end}}{{ .Title }} - {{ .Site.Params.short_title }}{{ end }}</title>
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.resume }}{{ end }}">
  {{ with .Params.chapitre }}<meta name="dc.identifier" content="t{{ . }}">
  <meta name="dc.relation.ispartof" content="these.quaternum.net">{{ end }}
  <link rel="canonical" href="{{ .Permalink | absURL }}">
  {{ $styles := resources.Get "index.scss" | toCSS (dict "outputStyle" "compressed") }}
  <style>{{ $styles.Content | safeCSS }}</style>
  <meta name="citation_title" content="{{ .Site.Title }}"/>
  <meta name="citation_publisher" content="{{ .Site.Params.institution }}"/>
  <meta name="citation_author" content="{{ .Site.Author.lastname }}, {{ .Site.Author.firstname }}"/>
  <meta name="citation_author_orcid" content="https://orcid.org/{{ .Site.Author.orcid }}" />
  <meta name="citation_abstract" content="{{ .Site.Params.resume | markdownify | plainify | htmlUnescape }}"/>
  <meta name="citation_online_date" content="{{ .Site.Params.git.last_commit.date }}"/>
  <meta name="citation_publication_date" content="{{ .Site.Params.git.last_commit.date }}"/>
  <meta name="citation_dissertation_institution" content="{{ .Site.Params.institution }}"/>
  <!-- DC -->
  <link rel="schema.dc" href="https://purl.org/dc/elements/1.1/">
  <meta property="DC.creator" content="{{ .Site.Author.name }}"/>
  <meta property="DC.publisher" content="{{ .Site.Params.institution }}"/>
  <meta property="DC.language" content="fr"/>
  <meta property="DC.title" content="{{ .Site.Title }}"/>
  <meta property="DC.description" content="{{ .Site.Params.resume | markdownify | plainify | htmlUnescape }}"/>
  <meta property="DC.rights" content="{{ .Site.Params.licence }}"/>
  <meta property="DC.date" content="{{ .Site.Params.git.last_commit.date }}"/>
  <meta property="DC.type" content="thesis"/>
  <link rel="dc:identifier" href="{{ .Permalink }}" />
  <meta property="dc:creator" content="{{ .Site.Author.name }}"/>
  <meta property="dc:publisher" content="{{ .Site.Params.institution }}"/>
  <meta property="dc:language" content="fr"/>
  <meta property="dc:title" content="{{ .Site.Title }}"/>
  <meta property="dc:description" content="{{ .Site.Params.resume | markdownify | plainify | htmlUnescape }}"/>
  <meta property="dc:rights" content="{{ .Site.Params.licence }}"/>
<meta property="dc:date" content="{{ .Site.Params.git.last_commit.date }}"/>
<meta property="dc:type" content="thesis"/>
<!-- OG -->
<meta property="og:title" content="{{ .Site.Title }}"/>
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{ .Site.Params.resume | markdownify | plainify | htmlUnescape }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:type" content="thesis"/>
<!--  https://schema.org/Article -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Thesis",
        "name": "{{ .Site.Title | safeJS }}",
        "headline": "{{ .Site.Title | safeJS }}",
        "description": "{{ .Site.Params.resume | markdownify | plainify | htmlUnescape }}",
        "inLanguage": {{ .Site.LanguageCode | default "fr-fr" }},
        "isFamilyFriendly": "true",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Permalink }}"
        },
        "author" : {
            "@type": "Person",
            "name": "{{ .Site.Author.name }}"
        },
        "creator" : {
            "@type": "Person",
            "name": "{{ .Site.Author.name }}"
        },
        "accountablePerson" : {
            "@type": "Person",
            "name": "{{ .Site.Author.name }}"
        },
        "copyrightHolder" : "{{ .Site.Params.licence }}",
        "copyrightYear" : "{{ .Site.Params.git.last_commit.date }}",
        "dateCreated": "{{ .Site.Params.git.last_commit.date }}",
        "datePublished": "{{ .Site.Params.git.last_commit.date }}",
        "dateModified": "{{ .Site.Params.git.last_commit.date }}",
        "publisher":{
            "@type":"Organization",
            "name": {{ .Site.Params.institution }},
            "url": {{ .Site.BaseURL }},
            "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.Params.logo | absURL }}",
                "width":"32",
                "height":"32"
            }
        },
        "url" : "{{ .Permalink }}",
        "keywords" : [{{ .Site.Params.mots_cles }}]
    }
</script>
</head>
