{{ define "main" }}
{{ partial "navigation.html" }}
<article>
<section class="regulier">
	<h2>404 : cette page n'existe pas</h2>
	<p>La page demandée n'existe pas, voir la table des matières sur la page d'accueil pour un aperçu des pages de cette thèse : <a href="/">accueil</a>.</p>
</section>
</article>
{{ end }}

