{{ $valeur := .Get "identifiant" }}
{{- range site.RegularPages.ByTitle -}}
  {{- $chapitre := .Params.chapitre -}}
  {{- $section := .Params.section -}}
  {{- range .Store.GetSortedMapValues "definition" -}}
  {{- if eq .id $valeur -}}<span class="renvoi"><span class="def-titre">{{ .intitule | markdownify }}</span> {{ .contenu | markdownify | truncate 200 }}<br><a class="appel-concept" href="#{{ $valeur }}">Voir {{ $chapitre }}.{{ $section }}.</a></span>{{- end -}}
  {{- end -}}
{{- end -}}
{{- "" -}}
