{{ $valeur := .Get "identifiant" }}
{{- range site.RegularPages.ByTitle -}}
  {{- $chapitre := .Params.chapitre -}}
  {{- range .Store.GetSortedMapValues "definition" -}}
    {{- if eq .id $valeur -}}<span class="renvoi"><span class="def-titre">{{ .intitule | markdownify }}</span> {{ .contenu | markdownify | truncate 200 }}<br><a href="/chapitre-0{{ $chapitre }}#{{ $valeur }}">Voir chapitre {{ $chapitre }}</a> — <a href="/definitions">Liste des concepts</a></span>{{- end -}}
  {{- end -}}
{{- end -}}
{{- "" -}}
