{{- $lang := "" -}}
<figure {{ with (.Get "class") }}class="{{ . }}"{{ end }}>
	  <pre>
		{{- highlight (trim .Inner "\n\r") $lang -}}
		</pre>
		<figcaption><span class="legende">Code {{ .Page.Params.chapitre }}.<span class="numero-code"></span>. {{ .Get "legende" | markdownify }}</span></figcaption>
</figure>
