{{- $lang := "" -}}
{{ $compte := 0 }}
{{ $compte = add $compte 1 }}
{{ $premier_numero := .Page.Params.chapitre }}
{{ $leid := .Get "id" }}
{{ $lalegende := .Get "legende" }}
{{ with $captureName := .Get "type" }}
    {{ $id := printf "%d" $.Ordinal }}
    {{ $gent := dict "premier_numero" $premier_numero "legende" $lalegende "id" $leid "numero" $compte "contenu" (string .) }}
    {{ $.Page.Store.SetInMap $captureName $id $gent }}
{{ else }}
  {{ errorf "The %s shortcode requires a single positional parameter. See %s" $.Name $.Position }}
{{ end }}
<figure {{ with (.Get "class") }}class="{{ . }}"{{ end }} id="code-{{ $lalegende | sha256 }}">
	  <pre>
		{{- highlight (trim .Inner "\n\r") $lang -}}
		</pre>
		<figcaption><span class="legende">Code {{ .Page.Params.chapitre }}.<span class="numero-code"></span>. {{ .Get "legende" | markdownify }}</span></figcaption>
</figure>
