{{ $leid := .Get "id" }}
{{ $lintitule := .Get "intitule" }}
{{ with $captureName := .Get "type" }}
  {{ with $.Inner }}
    {{ $id := printf "%d" $.Ordinal }}
    {{ $gent := dict "intitule" $lintitule "id" $leid "contenu" (string .) }}
    {{ $.Page.Store.SetInMap $captureName $id $gent }}
  {{ else }}
    {{ errorf "The %s shortcode requires 'Inner' content. See %s" $.Name $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %s shortcode requires a single positional parameter. See %s" $.Name $.Position }}
{{ end }}
<section class="definition-bloc" id="{{ .Get "id" }}">
  <p class="definition" id="concept-{{ .Get "id" }}"><span class="libelle">Définition</span> <span class="intitule">{{ .Get "intitule" | markdownify }}</span></p>
  <p>{{ .Inner | markdownify }}</p>
</section>
