{{ $leid := .Get "id" }}
{{ $lintitule := .Get "intitule" }}
{{ with $captureName := .Get "type" }}
  {{ with $.Inner }}
    {{ $id := printf "%d" $.Ordinal }}
    {{ $gent := dict "intitule" $lintitule "id" $leid "contenu" (string .) }}
    {{ $.Page.Store.SetInMap $captureName $id $gent }}
  {{ else }}
    {{ errorf "The %s shortcode requires 'Inner' content. See %s" $.Name $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %s shortcode requires a single positional parameter. See %s" $.Name $.Position }}
{{ end }}
<section class="definition-bloc" id="{{ .Get "id" }}">
  <p class="definition"><span class="libelle">Définition&nbsp;</span><span class="intitule">{{ .Get "intitule" | markdownify }}</span></p>
  <p><span class="renvoi liste-def"><a href="/concepts">Liste des concepts</a></span>{{ .Inner | markdownify }}</p>
</section>
