{{ $compte := 0 }}
{{ $compte = add $compte 1 }}
{{ $premier_numero := .Page.Params.chapitre }}
{{ $leid := .Get "id" }}
{{ $lalegende := .Get "legende" }}
{{ $lasource := .Get "src" }}
{{ with $captureName := .Get "type" }}
    {{ $id := printf "%d" $.Ordinal }}
    {{ $gent := dict "lasource" $lasource "premier_numero" $premier_numero "legende" $lalegende "id" $leid "numero" $compte "contenu" (string .) }}
    {{ $.Page.Store.SetInMap $captureName $id $gent }}
{{ else }}
  {{ errorf "The %s shortcode requires a single positional parameter. See %s" $.Name $.Position }}
{{ end }}
<figure {{ with (.Get "class") }}class="{{ . }}"{{ end }} id="figure-{{ .Get "src" }}">
    <img src="/{{ "images" | absURL }}/{{.Get "src" }}" alt="">
    <figcaption><span class="legende">Figure {{ .Page.Params.chapitre }}.<span class="numero-figure"></span>. {{ .Get "legende" | markdownify }}</span></figcaption>
</figure>
