{{- $h3 := .Get "h3" -}}
{{- $p := .Get "chapitre" | int -}}
{{- $chapitre := where .Site.Pages "Params.chapitre" $p -}}
{{- $sp := .Get "section" | int -}}
{{- $section := where .Site.Pages "Params.section" $sp -}}
{{- $source := $chapitre | intersect $section -}}
{{- range $source -}}
<a href="#{{ $sp | sha1 }}" class="appel-target"><label class="note-numero"></label></a><span class="renvoi note" id="{{ $sp | sha1 }}">Voir <a href="/chapitre-0{{ .Params.chapitre }}/{{ if eq .Params.section 0 }}{{ else }}#{{ if $h3 }}{{ .Params.chapitre }}{{ .Params.section }}{{ $h3 }}{{ else }}{{ .Params.chapitre }}-{{ .Params.section }}{{ end }}{{ end }}">{{ .Params.chapitre }}.{{ if eq .Params.section 0 }}{{ else }}{{ .Params.section }}.{{ end }} {{ .Title | markdownify }}</a></span>
{{- end -}}
{{- "" -}}
