{{- $h3 := .Get "h3" -}}
{{- $refchapitre := .Get "chapitre" -}}
{{- $refsection := .Get "section" -}}
{{- $p := .Get "chapitre" | int -}}
{{- $chapitre := where .Site.Pages "Params.chapitre" $p -}}
{{- $sp := .Get "section" | int -}}
{{- $section := where .Site.Pages "Params.section" $sp -}}
{{- $source := $chapitre | intersect $section -}}
{{- range $source -}}
<span><label class="note-numero"></label><span class="renvoi note">Voir <a class="renvoi-interne" href="#renvoi-{{ $refchapitre }}-{{ $refsection }}">{{ .Params.chapitre }}.{{ if eq .Params.section 0 }}{{ else }}{{ .Params.section }}.{{ end }} {{ .Title | markdownify }}</a></span></span>
{{- end -}}
{{- "" -}}
