<!doctype html>
<html lang="{{ .Lang }}" class="no-js">
<head>
  <title>Version paginée</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ $styles := resources.Get "impression/index.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
  <style>{{ $styles.Content | safeCSS }}</style>
  {{ $styles := resources.Get "impression/interface.scss" }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  {{ $pagedjs := resources.Get "scripts/paged.polyfill.js" }}
  <script src="{{ $pagedjs.Permalink }}"></script>
  {{ $reload := resources.Get "scripts/reload-in-place.js" }}
  <script src="{{ $reload.Permalink }}"></script>
  {{ $csstree := resources.Get "scripts/csstree.js" }}
  <script src="{{ $csstree.Permalink }}"></script>
  {{ $paged_notes := resources.Get "scripts/paged-notes.js" }}
  <script src="{{ $paged_notes.Permalink }}"></script>
  {{ $paged_url_breaker := resources.Get "scripts/paged-url-breaker.js" }}
  <script src="{{ $paged_url_breaker.Permalink }}"></script>
  {{ $pagedjs_addid := resources.Get "scripts/pagedjs-addid.js" }}
  <script src="{{ $pagedjs_addid.Permalink }}"></script>
  {{ $paged_pushthings := resources.Get "scripts/paged-pushthings.js" }}
  <script src="{{ $paged_pushthings.Permalink }}"></script>
  {{ $pagedjs_position_autofill := resources.Get "scripts/pagedjs-position-autofill.js" }}
  <script src="{{ $pagedjs_position_autofill.Permalink }}"></script>
</head>
<body>
{{/* 01 page de titre */}}
{{/* 02 membres du jury */}}
{{/* 03 résumé et mots-clés en français */}}
{{/* 04 résumé et mots-clés en anglais */}}
{{ partial "impression/01-04-titre-membres-resume.html" }}
{{/* 05 table des matières / ou sommaire avec résumés des chapitres */}}
{{/* 06 liste des figures */}}
{{/* 07 liste des extraits de code */}}
{{ partial "impression/05-07-table-et-listes.html" }}

{{/* 08 liste des sigles et abbréviations */}}
{{ $pagecontenu := where site.Pages "Section" "pages" }}
{{ range sort $pagecontenu }}
{{ if eq .Params.contenu "static" }}
<section class="regulier{{ if eq .Params.weight 80 }} avant-propos{{ else }} acro{{ end }}">
  <h2><span class="intitule-chapitre">{{ .Title }}</span><span id="pagination-{{ .Params.weight }}">{{ .Title }}</span></h2>
  {{ partial "impression/content.html" .Content }}
</section>
{{ end }}
{{ end }}

<section class="regulier">
  <p class="vide">vide</p>
</section>

{{/* créer une boucle pour appeler 08 à 10, classer les pages en statique avec un poids */}}
{{/* 09 remerciements */}}
{{/* 10 avant-propos */}}
{{/* 11 corps */}}
<section class="corps">
{{ $chapitres := where .Site.Pages "Section" "p" }}
{{- range sort $chapitres ".Params.chapitre" -}}
  {{- range sort .Sections ".Params.chapitre" -}}
  <section class="chapitre">
    <span class="entetevide"><span>
    <section class="{{ if eq .Params.type "chapitre" }}chapitre-entete{{ else }}classique-entete{{ end }}">
      <div class="page-debut-chapitre">
        <h1 class="premiere" id="{{ .Params.type }}-0{{ .Params.chapitre }}"><span id="renvoi-{{ .Params.chapitre }}-0" class="intitule-chapitre">{{ if eq .Params.type "chapitre" }}Chapitre {{ .Params.chapitre }} {{ end }}{{ .CurrentSection.Title }}</span>{{ if eq .Params.type "chapitre" }}<span class="numero-chapitre">Chapitre {{ .Params.chapitre }}</span>{{ end }}{{ .CurrentSection.Title | markdownify }}<span class="renvoi commit"><{{ .GitInfo.AbbreviatedHash }}></span></h1>
      </div>
      {{ partial "impression/content.html" .Content }}
    </section>
    {{ $type := .Params.type }}
    {{- range sort .CurrentSection.RegularPages ".Params.section" -}}
    <section class="section">
      <h2{{- if eq $type "chapitre" -}}{{- else }} class="titres-regulier"{{- end }} id="renvoi-{{ .Params.chapitre }}-{{ .Params.section }}">{{ .Params.chapitre }}.{{ .Params.section }}. {{ .Page.Title | markdownify }}<span class="renvoi commit"><{{ .GitInfo.AbbreviatedHash }}></span></h2>
      {{ partial "impression/content.html" .Content }}
    </section>
    {{- end -}}
  </section>
  {{- end -}}
{{- end -}}
</section>
{{/* 12 index des notions */}}
{{/* 13 références bibliographiques */}}
<section class="regulier large bibliographie">
  <h2 id="bibliographie"><span class="intitule-chapitre">Références bibliographiques</span><span id="pagination-90">Références bibliographiques</span></h2>
  {{ $lesreferences := dict "references" (getJSON .Params.bibfile) }}
  {{- $bibliographie := partial "bibliography/bibliography-list.html" $lesreferences }}
  {{- partial "impression/content.html" $bibliographie -}}
</section>

{{/* 15 annexes : concepts */}}
<section class="regulier">
  <h2><span class="intitule-chapitre">Concepts</span><span id="pagination-110">Concepts</span></h2>
  <p>Les définitions des concepts produites dans cette thèse sont classées par ordre d’apparition dans les chapitres et sections.</p>
  {{ $defchapitres := where site.Pages "Section" "p" }}
  {{ range sort (sort $defchapitres ".Params.section") ".Params.chapitre" }}
  {{ $titre := .Title }}
  {{ $chapitre := .Params.chapitre }}
  {{ $section := .Params.section }}
  {{ $noop := .WordCount }}
    {{ if .HasShortcode "definition" }}
      {{ range .Store.GetSortedMapValues "definition" }}
	<section>
    <h3 id="{{ .id }}">{{ .intitule | markdownify }}</h3> 
    <p><span class="renvoi"><a href="#concept-{{ .id }}" class="concept"><span class="contexte">Chapitre/section</span> <span class="titre-section">{{ $chapitre }}.{{ $section }}. {{ $titre | markdownify }}</span></a></span>{{ .contenu | markdownify }}</p>
	</section>
      {{ end }}
    {{ end }}
  {{ end }}
</section>

{{/* 15 annexes : concepts */}}
<section class="regulier">
  <h2><span class="intitule-chapitre">Colophon</span><span id="pagination-120">Colophon</span></h2>
{{ $lapage := where site.Pages "Section" "pages" }}
{{ range sort $lapage }}
{{ if eq .Title "Colophon" }}
{{ partial "impression/content.html" .Content }}
{{ end }}
{{ end }}
</section>
</body>
</html>
